 .column-height{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }

       .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly ;
        align-items: center;
        row-gap: 20px;
      }


       .row1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly ;
        align-items: center;
        row-gap:20px;
        height:700px;
 
        
      
      }

      *{
        margin: 0px;
        list-style: none;
        
      
   
}

      .text-white{
        color: #f8f3f3;
      }
      .text-black{
        color: #3b3838;
      }

      .text-ash{
        color: #6b6969;
      }
      .text-green{
        color: rgba(81,190,120,255);
      }

       .text-orange{
        color: #fccf3b;
      }


       .text-c{
        text-align: center;
      }


        .text-s{
        text-align: start;
      }

      .text-d{
        text-decoration: none;
      }

      a:hover {
     background-color:rgb(104, 230, 104);
       font-size: 18px;
}


  li:hover {
     background-color:rgb(127, 221, 127);
       font-size: 18px;
}

      .bg-white{
         background-color: white;
      }
       

      .f-size20{
        font-size: 20px ;
      }

      .f-size50{
        font-size: 50px ;
      }

      .f-size18{
        font-size: 18px ;
      }

      .f-size24{
        font-size: 24px ;
      }


      .f-size3{
        font-size: 30px ;
      }

      .f-size100{
        font-size: 95px ;
      }

      

      .nav1{
        display: flex;
        flex-direction: row;
    
        height:50px ;
        background-color:  rgba(25,47,89,255);
        justify-content: space-around;
        align-items: center;
        color: rgb(117, 116, 116);
      }
 


       .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height:70px ;

        background-color:rgba(24,24,24,255);
        justify-content: space-around;
        align-items: center;
        color: rgb(255, 255, 255);
      }

    




 .nav3{
        display: flex;
        flex-direction: row;
        height:70px ;
        background-color: rgba(32,32,32,255);
        justify-content: space-around;
        align-items: center;
        color: rgb(255, 255, 255);
        flex-wrap: wrap;
      }






















.footer{
  height: 300px;
  background-color: rgba(24,24,24,255);
  
}


.f nav{
        height: 70px;
        display: flex;
        background-color: black;
        flex-direction: row;
        justify-content:space-around;
        align-items: center



}




      .box{
        display: flex;
        flex-direction: row;
        height: 700px;
        flex-wrap: wrap;
        flex-grow: 1;
        background-color: #fccf3b;
        align-items: center;

      }

      /* .box1{
        display: flex;
        flex-direction: row;
        height:700px;
        background-color: #fccf3b;
        align-items: center;

      } */


      
      .box2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 700px;
        background-color: #fccf3b;
        align-items: center;

      }




      .box3{
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #07436b;
  /* align-items: center; */
  text-align: center;
  row-gap: 12px;
  border: 1px  solid white;
  row-gap: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 5px 5px 10px 1px rgb(58, 38, 38);
   border-color: aqua;
  
}


.box4{
        display: flex;
        flex-direction: column;
        height: 134px;
        width: 415px ;
        background-color: #511880;
        align-items: center;

      }



      .blue{
   display: flex;
     flex-wrap: wrap;
  width:500px ;  
  height:200px;
  background-color: rgb(68, 0, 255);
  

  
}


.red{
  display: flex;
  width:200px ;  
  height:500px;
  background-color: rgb(255, 0, 0);
  
 

}


.green{
  display: flex;
    flex-wrap: wrap;
  width:500px ;  
  height:200px;
  background-color: rgb(63, 207, 107);
  
}



      .blue2{
   display: flex;
     flex-wrap: wrap;
  width:500px ;  
  height:200px;
  background-color: rgb(68, 0, 255);
  align-self: center;
  justify-self: center;
  

  
}


.red2{
  display: flex;
  width:500px ;  
  height:200px;
  background-color: rgb(255, 0, 0);
  align-self: center;
   justify-self: center;
  
  
 

}


.green2{
  display: flex;
  width:500px ;  
  height:200px;
  background-color: rgb(56, 201, 100);
  align-self: center;
   justify-self: center;
  
  
}














      .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
    background-color: aqua;
}



.content2{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  background-color: rgba(2,9,10,255);

  border-radius: 20px ;
  border-color: #f8f3f3;
  box-shadow: black;
   padding: 15px;

}


.button{

   display: flex;
      background-color: rgb(255, 255, 255);
      border-radius: 10px; 
      border-color: #1fb852;
      margin: 20px 15px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size:20px;
      justify-content: space-around;
      padding: 14px 40px;
      border-right: #0f8f0a;
      
    



}



.button2{

   display: flex;
      background-color: rgb(255, 255, 255);
      border-radius: 10px; 
      border-color: #1fb852;
      margin: 20px 15px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size:20px;
      justify-content: space-around;
      padding: 14px 40px;
      border-right: #0f8f0a;
      align-self: center;
      justify-self: center;
      
    



}


.button3{

   display: flex;
      background-color: rgb(83, 219, 83);
      border-radius: 10px; 
      border-color: #1fb852;
      margin: 20px 15px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size:20px;
      justify-content: space-around;
      padding: 14px 40px;
      border-right: #0f8f0a;
      color: white;
      flex-wrap: wrap;



}


.circle {
  height: 72px;
  width: 72px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}



.innerbox{
  height: auto;
  width: 400px;
  border: 1px solid white;

}


.innerbox2{
  height: auto;
  width: 400px;
  

}




.nav1 a{
  text-decoration: none;
}

.slidercontainer{
 display: flex;
 flex-direction: row;
 height: 700px;
 width: 1550px ;
 background-color: aqua;
 align-items: center;
 justify-content: space-around;
 /* padding:15px;
row-gap: 10px; */

}


.left{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 12px;
  width: 30%;
  background-color: transparent;
  height: auto;
  margin-top: 30px ;
  
  
}

.right{
 display: flex;
 flex-direction: row;
 align-items: start;
  width: 70%;
  justify-content: center;
  background-color:transparent;
  height: auto;
 flex-wrap: wrap;
 gap: 15px ;
 /* border-color: aqua;
 box-shadow: 0px 0px 10px 1px rgb(176, 176, 230); */
 margin-left: 10px;

}


.left2{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
row-gap: 12px;
  width: 50%;
  background-color: transparent;
  height: auto;
  margin-top: 30px ;
  
  
}


.right2{
 display: flex;
 flex-direction: row;
 align-items: start;
  width: 50%;
  justify-content: center;
  background-color:transparent;
  height: auto;
 flex-wrap: wrap;
 gap: 15px ;
 /* border-color: aqua;
 box-shadow: 0px 0px 10px 1px rgb(176, 176, 230); */
 margin-left: 10px;

}


.left3{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
row-gap: 12px;
  width: 80%;
  background-color:rgb(148, 133, 133);
  height: 96%;
  margin-top: 30px ;
  
  
}


.right3{
 display: flex;
 flex-direction: row;
 align-items: start;
  width: 30%;
  justify-content: center;
  background-color:green;
  height: 100%;
 flex-wrap: wrap;
 gap: 15px ;
 /* border-color: aqua;
 box-shadow: 0px 0px 10px 1px rgb(176, 176, 230); */
 margin-left: 10px;

 flex-wrap: wrap;
}



.red1{
  display: flex;
  width:549px ;  
  height:91px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  right:520px ;
  align-items: center;

  
 

}


.red3{
  display: flex;
  width:600px ;  
  height:105px;
  background-color: rgb(255, 0, 0);
  position: absolute;
   right:380px ;
 

}



 .blue3{
   display: flex;
  width:343px ;  
  height:50px;
  background-color: rgb(68, 0, 255);
  align-self: center;
  justify-self: center;
  

  
}

    



.form input{
  height: 20px;
  text-align: center;  
}





.formContainer{
  display: flex;
   justify-content: center; 
   align-items: center; 
   height: 1000px;
   width:100% ;
}





.background{

  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.img{
  height: 100px;
  width: 300px;
}


.ev{

  height: auto;
  /* width: 400px; */
 width: auto;

 flex-wrap: wrap;
}


.nw{

  /* height: auto; */
  /* width: 400px; */
 /* width: auto; */

 flex-wrap: wrap;

 height: auto;
  width: 400px;
  border: 1px solid rgb(22, 22, 22);
}


.red7{

  flex-wrap: wrap;
   display: flex;
  width:200px ;  
  height:500px;
  background-color: rgb(255, 0, 0);
}